@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --sidmac-orange: #f28724;
    --sidmac-grey: #e4e4e4;
    --sidmac-black: #2c2c2c;
    --sidmac-white: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: var(--sidmac-black);
}

.sidmac-header {
    position: relative;
    padding: 1rem 1.5rem;
    background-color: var(--sidmac-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidmac-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;;
}

.sidmac-header-title svg,
.sidmac-header-hamburger-button svg {
    width: 27px;
    height: 27px;
    fill: var(--sidmac-orange);
}

.sidmac-header-title-text {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidmac-header-title-text p {
    margin-top: -0.3rem;
    font-size: 0.6rem;
}

.sidmac-header-hamburger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidmac-header-hamburger-button:focus {
    outline: none;
    fill: var(--sidmac-black);
}


.sidmac-header-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--sidmac-black);
    color: var(--sidmac-white);
    list-style: none;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    
}

.sidmac-header-links.active {
    max-height: 300px; /* Adjust based on content size */
    padding: 1.2rem 1.5rem; /* Add padding only when menu is open */

}

.sidmac-header-link {
    color: var(--sidmac-white);
    text-decoration: none;
}

.sidmac-header-link:focus {
    text-decoration: underline;
}