@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --sidmac-orange: #f28724;
    --sidmac-lighter-orange: #ff9a3b;
    --sidmac-secondary-orange: #f27e11;
    --sidmac-grey: #e9e8e8;
    --sidmac-black: #2c2c2c;
    --sidmac-white: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: var(--sidmac-black);
    background-color: var(--sidmac-grey);
}

/* ★ -------------- ★ */
/* ★ GENERAL STYLES ★ */
.sidmac-orange {
    color: var(--sidmac-secondary-orange);
}

/* ★ ------------- ★ */
/* ★ HEADER STYLES ★ */
.sidmac-header {
    position: relative;
    padding: 1rem 1.5rem;
    background-color: var(--sidmac-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidmac-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;;
}

.sidmac-header-title svg,
.sidmac-header-hamburger-button svg {
    width: 27px;
    height: 27px;
    fill: var(--sidmac-orange);
}

.sidmac-header-title-text {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidmac-header-title-text p {
    margin-top: -0.3rem;
    font-size: 0.6rem;
}

.sidmac-header-hamburger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidmac-header-hamburger-button:focus {
    outline: none;
    fill: var(--sidmac-black);
}

.sidmac-header-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    margin: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--sidmac-black);
    color: var(--sidmac-white);
    list-style: none;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.sidmac-header-links.active {
    max-height: 300px; /* Adjust based on content size */
    padding: 1.2rem 1.5rem; /* Add padding only when menu is open */
}

.sidmac-header-link {
    color: var(--sidmac-white);
    text-decoration: none;
    font-size: 0.85rem;
}

.sidmac-header-link:focus,
.sidmac-header-link:hover {
    text-decoration: underline;
}

/* ★ ------------------- ★ */
/* ★ WHATS APP STYLES ★ */
.sidmac-whats-app-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 10;
}

.sidmac-whats-app-button img {
    width: 52px;
    height: 52px;
}

.sidmac-whats-app-button img:hover{
    cursor: pointer;
}

/* ★ ------------------- ★ */
/* ★ INTRODUCTION STYLES ★ */
.sidmac-introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-repeat: no-repeat, repeat;
    background-image: url('../images/sidmac-banner-small.jpg');
    background-position: center;
    background-size: cover;
}

.sidmac-introduction-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 1rem 1.5rem;
    width: 46%;
}

.sidmac-introduction-text p {
    font-size: 0.85rem;
}

.sidmac-introduction-qualities {
    position: absolute;
    right: 0;
    left: 0;
    top: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    margin: 1.5rem 2rem;
    padding: 1.2rem 1rem;
    background-color: var(--sidmac-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
}

.sidmac-introduction-quality {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1; 
    column-gap: 1rem;
    text-align: left;
    width: 100%;

}

.sidmac-introduction-quality:nth-of-type(1), 
.sidmac-introduction-quality:nth-of-type(2){
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--sidmac-grey);
}

.sidmac-introduction-quality p{
    font-size: 1rem;
}

.sidmac-introduction-quality svg {
    width: 30px;
    height: 30px;
    fill: var(--sidmac-orange);
    flex-shrink: 0;
}

.sidmac-introduction-quality-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.4rem;
}

.sidmac-introduction-quality-text p{
    font-size: 0.7rem;
}

/*fgdgdg  */
.sidmac-us-summary {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding: 1rem;
}

.sidmac-us-summary img {
    width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.sidmac-us-summary-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    row-gap: 0.4rem;
}
/* ★ ------------------- ★ */
/* ★ SERVICES STYLES ★ */
.sidmac-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.sidmac-services h2,
.sidmac-services p {
    text-align: center;
    padding: 0 1rem;
}

.sidmac-services-content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem;
}

.sidmac-services-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidmac-services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 0rem;
    padding: 1rem;
    column-gap: 0.6rem;
    row-gap: 0.6rem;
    background-color: var(--sidmac-white);
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidmac-services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.6rem;
    padding: 0.5rem;

}

.sidmac-services-card svg {
    height: 30px;
    width: 30px;
    fill: var(--sidmac-orange);
    border-radius: 4px;
    flex-shrink: 0;
}

.sidmac-services-card p {
    font-size: 0.8rem;
}

footer {
    background-color: var(--sidmac-black);
    color: var(--sidmac-white);
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
}

.swiper {
    margin: 0 1rem;
    width: 100%;
    height: 200px;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    body {
        font-size: 14px;
    }

    .sidmac-whats-app-button img {
        width: 54px;
        height: 54px;
    }

    .sidmac-header-title svg,
    .sidmac-header-hamburger-button svg {
        width: 30px;
        height: 30px;
    }

    .sidmac-header-title-text p {
        font-size: 0.66rem;
    }

    .sidmac-header-links {
        row-gap: 1.6rem;
    }

    .sidmac-header-links.active {
        padding: 1.5rem;
    }

    .sidmac-introduction {
        height: 220px;
        background-image: url('../images/sidmac-banner-medium.jpg');
    }

    .sidmac-introduction-text {
        padding: 1rem 1.8rem;
    }

    .sidmac-introduction-qualities {
        padding: 1.5rem 1.8rem;
    }

    .sidmac-introduction-quality svg {
        height: 32px;
        width: 32px;
    }

    .sidmac-services-cards {
        margin: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
  
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  { 
    body {
        font-size: 15px;
    }

    .sidmac-header-hamburger-button {
        display: none;
    }
    
    .sidmac-header-title-text p {
        margin-top: -0.3rem;
        font-size: 0.7rem;
    }

    .sidmac-header-links {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        background-color: transparent;
        color: var(--sidmac-black);
        max-height: none;
    }

    .sidmac-header-link {
        font-weight: 400;;
        color: var(--sidmac-black);
    }

    .sidmac-introduction {
        height: 250px;
        background-image: url(../images/sidmac-banner-big.jpg);
    }

    .sidmac-introduction-text {
        padding: 1rem 2.5rem;
    }

    .sidmac-introduction-text p {
        font-size: 0.9rem;
    }
    
    .sidmac-introduction-quality {
        column-gap: 0.8rem;
    }

    .sidmac-introduction-qualities {
        margin: 1.8rem 2rem;
        flex-direction: row;
        align-items: baseline;
        column-gap: 0.8rem;
    }

    .sidmac-introduction-quality {
        padding-bottom: 0 !important;
        border-bottom: none !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }

    .sidmac-header-title-text h1 {
        font-size: 1.8rem;
    }

    .sidmac-header-title-text p {
        margin-top: -0.3rem;
        font-size: 0.7rem;
    }

    .sidmac-header-links {
        column-gap: 1.6rem;
    }

    .sidmac-header-link {
        font-size: 0.9rem;
    }

    .sidmac-introduction {
        height: 280px;
    }

    .sidmac-introduction-text {
        padding: 1rem 3rem;
    }

    .sidmac-introduction-text p {
        font-size: 0.92rem;
    }

    .sidmac-introduction-quality svg {
        height: 32px;
        width: 32px;
    }

    .sidmac-introduction-qualities {
        margin: 1.8rem 5rem;
        padding: 1.8rem 1.5rem;
        flex-direction: row;
        align-items: baseline;
        column-gap: 0.6rem;
    }

    .sidmac-services-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 300px;
        column-gap: 0.8rem;
        width: 90%;
    }

    .sidmac-services-content img {
        width: 100%;
    }

    .sidmac-services-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        border-radius: 4px;
        padding: 1.2rem;
        margin: 0;
        background-color: var(--sidmac-white);
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .sidmac-services-card {
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        font-size: 0.95rem;
        font-weight: 500;
        flex-direction: row;
    }

    .sidmac-services-card p {
        text-align: left;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 17px;
    }

    .sidmac-header-links {
        column-gap: 2rem;
    }

    .sidmac-introduction {
        height: 300px;
    }

    .sidmac-introduction-text {
        padding: 1rem 5rem;
    }

    .sidmac-introduction-text p {
        font-size: 0.95rem;
    }

    .sidmac-introduction-qualities {
        margin: 1.8rem 5.5rem;
        padding: 2em 1.6rem;
    }
}

@media (min-width: 1600px) {
    .sidmac-introduction-quality svg,
    .sidmac-header-title svg {
        height: 34px;
        width: 34px;
    }

    .sidmac-introduction {
        height: 330px;
    }

    .sidmac-introduction-text p {
        font-size: 1rem;
    }

    .sidmac-introduction-quality-text p {
        font-size: 0.8rem;
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 18px;
    }

    .sidmac-introduction {
        background-image: url('../images/sidmac-banner-medium.jpg');
        height: 350px;
    }
}